{% extends 'base.html' %} 

{% block content %}

{% load static %}
<h3 class="head-page">CONTACT US</h3>
<h4 class="content-tab-alert">Ask for more information</h4>
<div class="container">
  <div class="content-tab">
    <h4 class="content-tab-confidence">Natapot Warrit  <i>(Conference Organizers)</i></h4>
    <div class="paragraph">
      <ul style="list-style-type: none;">
        <li style="margin-bottom: 10px">
          <img style="width: 36px" src="{% static 'image/email.png' %}"/>
          <span style="margin-left: 20px">natapot.w@chula.ac.th</span>
        </li>
        <li style="margin-bottom: 10px">
          <img style="width: 36px" src="{% static 'image/phone-receiver.png' %}"/>
          <span style="margin-left: 20px">+66-89-200-6826</span>
        </li>
      </ul>
    </div>
  </div> 

  <div class="content-tab">
    <h4 class="content-tab-confidence">Wimolwan Chotwong  <i>(Conference Organizers)</i></h4>
    <div class="paragraph">
      <ul style="list-style-type: none;">
        <li style="margin-bottom: 10px">
          <img style="width: 36px" src="{% static 'image/email.png' %}"/>
          <span style="margin-left: 20px">wimolwanc@hotmail.com</span>
        </li>
        <li style="margin-bottom: 10px">
          <img style="width: 36px" src="{% static 'image/phone-receiver.png' %}"/>
          <span style="margin-left: 20px">+66-81-914-4461‬</span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}