{% extends 'base.html' %} 
{% load widget_tweaks %} 
{% block content %}

{% load static %}
<div class="container">
  <div class="col-sm-3" style="padding: 0px">
    <center>
      <div class="sidenav" style="background-color: white">
        <a href="{% url 'dashboard_view' %}">General</a>
        <a href="{% url 'dashboard_status' %}">Status</a>
        <a class="active" href="{% url 'dashboard_payment' %}">Payment</a>
        <a href="{% url 'dashboard_abstract' %}">Abstract</a>
      </div>
    </center>
  </div>

  <div class="col-sm-9" style="padding-left: 5px">
    <div class="dashboard-right-block">
      <h2 class="dashboard-header">Payment</h2>
      {% if user.is_authenticated %}
      <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#national-payment">National Payment</a></li>
        <li><a data-toggle="tab" href="#thai-payment">Thai Payment</a></li>
        <li><a data-toggle="tab" href="#about-payment">About Payment</a></li>
      </ul> 
      <div class="tab-content">
        <!-- Section National Payment -->
        <div class="tab-pane fade" id="national-payment">
          <center>
            <h3 class="dashboard-header">National Payment</h3>
            <form  method="post">
              {% csrf_token %}
              {% for field in paypal_form %}
              <div class="form-group">
                <label for="field.id_for_label">{{ field.label }}</label>
                {% if paypal_form.errors %} 
                {% if field.errors %}
                <div class="form-group has-error">
                  {% render_field field class="form-control" placeholder=field.label %}
                </div>
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %} 
                {% else %}
                <div class="form-group">
                  {% render_field field class="form-control" placeholder=field.label %}
                </div>
                {% endif %}

                {% else %} 
                {% render_field field class="form-control" placeholder=field.label %} 
                {% endif %}
              </div>
              {% endfor %}
              <!-- <input type="text" name="payment-id" placeholder="transaction-ID" pattern=".{17,18}" required title="Please insert correct transaction ID"> -->
              <input class="button-con blue" type="submit" value="Submit">
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="PDC3QYRD47WLJ">
              <table class="paypal-table">
                <tr>
                  <th>
                    <input type="hidden" name="on0" value="Type">
            <h3 class="dashboard-header">Select your type</h3>
                  </th>
                </tr>
                <tr>
                  <td>
                    <select name="os0">
                      <option value="Listener">Listener $250.00 USD</option>
                      <option value="Author">Author $400.00 USD</option>
                    </select> 
                  </td>
                </tr>
              </table>
              <input type="hidden" name="currency_code" value="USD">
              <input style="width: 160px;margin-top: 15px" type="image" src="https://www.paypalobjects.com/en_GB/TH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - วิธีชำระเงินแบบออนไลน์ที่ปลอดภัยกว่าและง่ายกว่า!">
              <img alt="" border="0" src="https://www.paypalobjects.com/th_TH/i/scr/pixel.gif" width="1" height="1">
            </form>
          </center>
        </div>

        <!-- Section Thai Payment -->
        <div class="tab-pane fade" id="thai-payment">
          <center>
            <h3 class="dashboard-header">Thai Payment</h3>
            <table class="payment">
              <tr>
                <th>ประเภทผู้เข้าร่วม</th>
                <th>ราคา (บาท)</th>
              </tr>
              <tr>
                <td>Listener</td>
                <td>7,500</td>
              </tr>
              <tr>
                <td>Author</td>
                <td>8,500</td>
              </tr>
            </table>
            <h3 class="dashboard-header">Bank Detail</h3>
            <img src="{% static 'image/bank.jpg' %}" style="width: 200px" alt="Bangkok Bank(ธนาคารกรุงเทพ)">
            <table class="payment">
              <th colspan="2">Bangkok Bank Public Company Limited (BBL)</th>
              <tr>
                <td>Account Name</td>
                <td>Sirat Lertjintanakit</td>
              </tr>
              <tr>
                <td>Branch</td>
                <td>0939 Chamchuri Square</td>
              </tr>
              <tr>
                <td>Account no</td>
                <td>939-020404-9</td>
              </tr>
              <tr>
                <td>Swift code</td>
                <td>BKKBTHBK</td>
              </tr>
            </table>                  
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div style="width: 100%">
                {% for field in bank_form %}
                <div class="form-group">
                  <label for="field.id_for_label">{{ field.label }}</label>
                  {% if bank_form.errors %} 
                  {% if field.errors %}
                  <div class="form-group has-error">
                    {% render_field field class="form-control" placeholder=field.label %}
                  </div>
                  {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %} 
                  {% else %}
                  <div class="form-group">
                    {% render_field field class="form-control" placeholder=field.label %}
                  </div>
                  {% endif %}
                  {% else %} 
                  {% render_field field class="form-control" placeholder=field.label %} 
                  {% endif %}
                </div>
                {% endfor %}
<!-- 
                    <label class="dashboard-header" for="field.id_for_label">Upload your slip</label>
                    <input type="file" name="image" class="form-control" id="id_abstarct_file" accept=".jpg,.png"> -->
                    <input style="margin: 20px 40%;" class="button-con green" type="submit" name="Submit" value="Submit">
                  </div>
                </form>
              </center>            
            </div>

            <!-- Section About Payment -->
            <div class="tab-pane fade in active" id="about-payment">
              <center><h3 class="dashboard-header">About Payment</h3></center>
              <p>
                According to The 5<sup>th</sup> Asian Society of Arachnology Conference, there are 2 payment methods: National payment(<a href="https://www.paypal.com">Paypal</a>) and Thai payment(<a href="https://www.bangkokbank.com/">Bangkok bank</a>).
                <br>
                <ul>
                  <li>If you select National Payment, you need to get the transaction id of your invoice and key into the website.</li>
                  <li>If you select Thai Payment, you need to upload your slip to the website.</li>
                </ul>
              </p>
            </div>
          </div>
          {% else %}
          <p>Oops! Please Login</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock %}