{% extends 'base.html' %} 
{% load widget_tweaks %} 
{% block content %}

<div class="container">
  <div class="col-sm-3" style="padding: 0px">
    <center>
      <div class="sidenav" style="background-color: white">
        <a href="{% url 'dashboard_view' %}">General</a>
        <a class="active"  href="{% url 'dashboard_status' %}">Status</a>
        <a href="{% url 'dashboard_payment' %}">Payment</a>
        <a href="{% url 'dashboard_abstract' %}">Abstract</a>
      </div>
    </center>
  </div>

  <div class="col-sm-9" style="padding-left: 5px">
    <div class="dashboard-right-block">
      <h2 class="dashboard-header">Status</h2>
      {% if user.is_authenticated %}
      <center>
        <table class="payment">
          <tr>
            <th>DOCUMENT</th>
            <th>STATUS</th>
          </tr>
          <tr>
            <td>Abstract</td>
            <td>{{ status_user.abstarct_file_status }}</td>
          </tr>
          <tr>
            <td>Payment</td>
            <td>{{ status_user.payment_status }}</td>
          </tr>
          <tr>
            <td>Approvement</td>
            <td>{{ status_user.user_status }}</td>
          </tr>
        </table>
      </center>
      {% else %}
        <p>Oops! Please Login</p>
      {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}