{% extends 'base.html' %} 
{% load widget_tweaks %} 
{% block content %}

<div class="container">
  <div class="col-sm-3" style="padding: 0px">
    <center>
      <div class="sidenav" style="background-color: white">
        <a href="{% url 'dashboard_view' %}">General</a>
        <a class="active"  href="{% url 'dashboard_status' %}">Status</a>
        <a href="{% url 'dashboard_payment' %}">Payment</a>
        <a href="{% url 'dashboard_abstract' %}">Abstract</a>
      </div>
    </center>
  </div>

  <div class="col-sm-9" style="padding-left: 5px">
    <div class="dashboard-right-block">
      <h2 class="dashboard-header">Status</h2>
      <center>
        <table class="payment">
          <tr>
            <th>DOCUMENT</th>
            <th>STATUS</th>
          </tr>
          <tr>
            <td>Abstract</td>
            <td>{{ profile_user.user_status }}</td>
          </tr>
          <tr>
            <td>Payment</td>
            <td>{{ profile_user.accept }}</td>
          </tr>
        </table>
      </center>

      {% if user.is_authenticated %}
        <!-- <p>Email: {{ profile_user.user }}</p>
        <p>Title: {{ profile_user.title }}</p>
        <p>First name: {{ profile_user.first_name }}</p>
        <p>Last name: {{ profile_user.last_name }}</p>
        <p>Accept: {{ profile_user.accept }}</p>
        <p>Status: {{ profile_user.user_status }}</p>
        <p>Last update: {{ profile_user.update }}</p>
        <p><a href="{% url 'dashboard_edit' %}">Edit Profile</a></p> -->
        {% else %}
        <p>Oops! Please Login</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}