{% extends 'base.html' %} 

{% block content %}
<h3 class="head-page">REGISTRATION</h3>
<div class="content-tab">
  <h4 class="content-tab-alert">Fee</h4>
  <div class="paragraph">
    <p>
      All fees are quoted in US dollars (USD). Payment of fees must accompany all
      complete registrations. Registration will not be confirmed until full payment is
      received. Fee rate for delegate is $300 USD and student $200 USD
    </p>                    
  </div>
</div>
<div class="content-tab">
  <h4 class="content-tab-confidence">Payment</h4>
  <div class="paragraph">
    <p>
      Payment can be made through PayPal, implemented in this registration
      procedure <a href="http://paypal.com" target="_blank">Paypal page</a> account : s.lertjintanakit@gmail.com
    </p>
    <p>
      or wire-transfer to:
    </p>
    <p class="paragraph">
      Bangkok Bank Public Company Limited (BBL)<br>
      Account Name: Sirat Lertjintanakit<br>
      Branch: 0939 Chamchuri Square<br>
      Account No. 939-020404-9<br>
      Swift code: BKKBTHBK
    </p>
    <p class="paragraph">
      Kasikorn Bank<br>
      Account Name : Department of Biology, Faculty of Science, Chulalongkorn
      University<br>
      Branch : Siam square<br>
      Account no. : 026-2-98713-2<br>
      Swift code : KASITHBK<br>
    </p>
    <ul>
      <li>
        <i>Only account-to-account deposits will be accepted, no cash or cheque
        deposits</i>
      </li>
      <li>
        <i>For question regarding monetary payment please contact Mr. Sirat
        Lertjintanakit (email: s.lertjintanakit@gmail.com) </i>     
      </li>
    </ul>
  </div>
</div>
<div class="content-tab">
  <h4 class="content-tab-general">Perks</h4>
  <div class="paragraph">
    <p>
      Including in the registration
    </p>
    <ul>
      <li>
        Attendance to the conference
      </li>
      <li>
        Lunch and two coffee break services for four days at the conference
      </li>
      <li>
        5<sup>th</sup> ASA conference t-shirt and name badge
      </li>
      <li>
        Conference note and program booklet
      </li>
      <li>
        Thumb drive containing abstracts
      </li>
      <li>
        Excursion pass
      </li>
      <li>
        Welcoming banquet 
      </li>
    </ul>                  
  </div>
</div>
<div class="content-tab">
  <h4 class="content-tab-chula">Banquet</h4>
  <div class="paragraph">
    <p>
      Welcoming banquet will be held at in the convention venue from 6:30 pm on the 19th of November 2018. Allergy to certain type of ingredients or specialized food should be notified to us when register. 
    </p>                    
  </div>
</div>
{% endblock %}