{% extends 'base.html' %} 

{% block content %} 
<h3 class="head-page">IMPORTANT DATES</h3>
<center>
  <table class="schedule">
    <tr>
      <th colspan="2">July</th>
    </tr>
    <tr>
      <td>1 July, 2017</td>
      <td>Decription</td>
    </tr>
    <tr>
      <th colspan="2">August</th>
    </tr>
    <tr>
      <td>1 August, 2017</td>
      <td>Decription</td>
    </tr>
    <tr>
      <td>1 August, 2017</td>
      <td>Decription</td>
    </tr>
    <tr>
      <td>1 August, 2017</td>
      <td>Decription</td>
    </tr>
    <tr>
      <td>1 August, 2017</td>
      <td>Decription</td>
    </tr>
    <tr>
      <td>1 August, 2017</td>
      <td>Decription</td>
    </tr>
  </table>
</center>
{% endblock %}